<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${product.name}">Product Name</h1>
        <p class="lead" th:text="${product.description}">Product Description</p>
        <hr class="my-4">
        <p th:text="'Manufacturd Date: '+ ${product.manufacturedDate.toString().substring(3,9)+', '+product.manufacturedDate.toString().substring(23)}">Manufactured Date</p>
        <p th:text="'Stock Quantity: '+${product.stockQuantity}">Stock Quantity</p>
        <p th:text="'Price: $'+${product.price}">Price</p>

        <div class="row">
            <div class="col-md-4" th:each="image:${images}" style="margin-bottom: 20px">
                    <a th:href="@{'/images/'+${image}}">
                        <img th:src="@{'/images/'+${image}}" alt="Lights" style="width:100%">
                    </a>
            </div>
        </div>

        <p><a th:href="@{/getSellerProducts/{sId}(sId=${product.sellerId})}" class="btn btn-outline-info btn-sm" style="margin-left: 10px">Back</a>
            <a th:href="@{/updateProduct/{pId}(pId=${product.id})}" class="btn btn-outline-info btn-sm" style="margin-left: 10px">Update</a>
            <a th:href="@{/delete/{pId}(pId=${product.id})}" class="btn btn-outline-info btn-sm" style="margin-left: 10px">Delete</a>
            <a th:href="@{/getReviews/{pId}(pId=${product.id})}" class="btn btn-outline-info btn-sm" style="margin-left: 10px">Reviews</a>
        </p>

</div>

</body>
</html>